body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color:#40514E;
}
h1{
  margin-top: 0;
  width:50%;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 565%;
  color:  #11999E;
}
.topcon{
  background-color:#FFFEA9;
  padding-top:50px;
  position: relative;
}
h3{
  margin: 0 auto 0 auto;
  font-family: 'Finger Paint', cursive;
  position: relative;
  top:5px;
  font-size: 30px;
  color:  #66BFBF;

}
h2{
color:  #11999E;
padding-bottom: 10px;
}
.middlecon{
    margin: 50px 0;

}
.progrm{
  font-family: 'Exo 2', sans-serif;
  font-size: 2.5rem;
  left: 30px;
  position: relative;
  color:  #66BFBF;
  font weight: normal;
  line-height:0;
}
.bottomcon{
  background-color:#FFFEA9;
  padding: 50px 0 20px 0;
}
.pro{
  text-decoration:underline;
}
.bottomcld{
  position: absolute;
  left: 225px;
  bottom: 300px;
}

.middlecld{
  position: absolute;
  right: 185px;
  top:200px;

}
.topcld{
  position: relative;
  right:  100px;

}
.bskill{
  width: 30%;
  float: left;
  margin-right: 30px;

}
.bicon{
  font-size: 10px;
  position: absolute;
  top:1750px;
  right: 770px;

}
.cricket{
  width:30%;
  float:right;
  margin-left: 30px;
}
.cfi{
  font-size: 10px;
  margin: 0 auto 0 auto;
  position: absolute;
  top:2146px;
  left:775px;
}
.skill-row{
  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.1;
}
.skill-row1{
  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.1;

}
.and{
  text-align: center;:
}
.hrz{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 50%;
}
.contact-message{
  width: 50%;
  margin: 40px auto;
}
.btn {
  background: #d9c334;
  background-image: -webkit-linear-gradient(top, #d9c334, #b8b82b);
  background-image: -moz-linear-gradient(top, #d9c334, #b8b82b);
  background-image: -ms-linear-gradient(top, #d9c334, #b8b82b);
  background-image: -o-linear-gradient(top, #d9c334, #b8b82b);
  background-image: linear-gradient(to bottom, #d9c334, #b8b82b);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Merriweather', serif;
  color: #b81a41;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3c6cfc;
  background-image: -webkit-linear-gradient(top, #3c6cfc, #34d98f);
  background-image: -moz-linear-gradient(top, #3c6cfc, #34d98f);
  background-image: -ms-linear-gradient(top, #3c6cfc, #34d98f);
  background-image: -o-linear-gradient(top, #3c6cfc, #34d98f);
  background-image: linear-gradient(to bottom, #3c6cfc, #34d98f);
  text-decoration: none;
}
.footer-link{
  color: #d9c334;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;

}
.footer-link:hover{
  color:#3c6cfc;
}
.copyr{
  color: #b8b82b;
  font-size: 0.75rem;
  padding: 20px 0;
}
